:root.theme-light {
  --color-title: var(--color-pink-ultralight);
  --color-text: var(--color-gray);
  --color-bg-sub-title: var(--color-pink);
  --color-decorated: var(--color-gray);
  --color-sub-title: var(--color-gray);
  --color-hover: var(--color-black-alpha);
  --text-shadow-title: 4px 4px 0 var(--color-bg-sub-title);
  --text-shadow-footer: 2px 2px 0px var(--color-red);
  --text-shadow-link: 2px 2px 0 var(--color-bg-sub-title);
  --background-main: var(--image-bg-light, --color-white);
  --display-flex: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --color-title: var(--color-pink-ultralight);
  --color-text: var(--color-gray);
  --color-bg-sub-title: var(--color-pink);
  --color-decorated: var(--color-gray);
  --color-sub-title: var(--color-gray);
  --color-hover: var(--color-black-alpha);
  --text-shadow-title: 4px 4px 0 var(--color-bg-sub-title);
  --text-shadow-footer: 2px 2px 0px var(--color-red);
  --text-shadow-link: 2px 2px 0 var(--color-bg-sub-title);
  --background-main: var(--image-bg-light, --color-white);
  --display-flex: none;
  }
}